mixin selectme-card(headding="headding-card",src="src-img",content-1="contenta",content-2="contentb",content-3="contentc",content-4="contentd")
    h3.headding-selectcard= headding
    img.img-selectcard(src=img)
    p.content-1= content-1
    p.content-2= content-2
    p.content-3= content-3
    p.content-4= content-4